BasedOnStyle: Chromium
IndentWidth: 4
AccessModifierOffset: -4
PointerAlignment: Right
IncludeBlocks: Merge
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
